@{
    ViewData["Title"] = "hola mundo";
    ViewData["2"] = "Linda y Daniel";
    ViewData["Title4"] = "hello world";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
